<!-- product-list.component.html -->

<div>
    <h2>Lista de Produtos</h2>
    <ul>
      <li *ngFor="let product of products">
        {{ product.name }} - {{ product.price }} R$ - {{product.model}} - {{product.cor}}
        <button (click)="deleteProduct(product.id)">Excluir</button>
        <!-- Botão de atualização -->
        <button *ngIf="!product.isUpdating" (click)="toggleUpdateForm(product)">Atualizar</button>

        <!-- Campos de entrada para atualizar os dados do produto -->
        <div *ngIf="product.isUpdating">
          <p> Novo Nome: <input [(ngModel)]="product.name" /> </p> 
          <p> Novo Preço: <input [(ngModel)]="product.price" /> </p> 
          <p> Novo Model: <input [(ngModel)]="product.model" /> </p> 
          <p> Nova Cor: <input [(ngModel)]="product.cor" /> </p> 

          <button (click)="updateProduct(product.id,product)">Salvar</button>
          <button (click)="toggleUpdateForm(product)">Cancelar</button>
      </div>
      </li>
    </ul>
  
    <h2>Adicionar Novo Produto</h2>
    <div>
      <p> Nome: <input [(ngModel)]="newProduct.name" />  </p> 
      <p> Preço: <input [(ngModel)]="newProduct.price" /> </p> 
      <p> Model: <input [(ngModel)]="newProduct.model" /> </p> 
      <p> Cor: <input [(ngModel)]="newProduct.cor" /> </p> 
      <button (click)="addProduct()">Adicionar</button>
    </div>
  </div>
  